@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #E5252A;
  --brand-primary-hover: #C81E23;
  --brand-sparkle: #FF3838;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F8FAFC;
  color: #111827;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}
